body{
    background-image: url('xdpp.jpg');
}

p{
    text-align: center;
    color:white;
    margin-bottom: 200px;
}

h1{
    text-align: center;
    color: white;
    margin-top:200px;
}
.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
    color: white;
}