body{
    background-image: url('xdpp.jpg');
}

h1{
    text-align: center;
    color: white;
    margin-top: 200px;
}
p{
    text-align: center;
    color: white;
}
.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    color: white;
}
